/******

ui kit wordpress reseter

*****/

.body-wrap
{
    background-color: #F1F1F1;
}

#adminmenuback
{
    z-index: 100;
}

#adminmenuwrap 
{
    z-index: 1000;
}

#wpwrap
{
    background-color: #F1F1F1;
}

/************

    text-ediotrs

*/
.field_text   
{
    margin-bottom: 25px !important;
}

.nicEdit-panel 
{
    overflow: hidden;
    position: absolute;
    left: 0;
    top: -25px;
}

.flatline
{
    width: 80%;
    float: left;
    position: relative;
    left: 10%;
    height: 1px;
    background-color: rgba(0,0,0,0.2);
    clear:both;
    margin: 20px 0;
}
/****
    
File input style

******/
.file-input
{
     color: transparetn;
    width: 250px;
}

.file-input::-webkit-file-upload-button
{
    visibility:hidden;
}

.file-input::before
{
    content:'select file';
    color:white;
    display: inline-block;
    background-color: #3e3e3e;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
}

.file-input:hove::befor
{
     border-color: black;
}

.file-input:active::before
{
    background-color: #f9f9f9;
}

/********
intro
******/

.intro-signup-wraper .nicEdit-panel
{
    overflow: hidden;
    position: absolute;
    left: 0;
    top: -92px;    
}

.intro-upload{
    width: 33.3333% !important;
    float: left !important;
}

.title
{
    text-align: center;
    font: 20px sans-serif;
    text-shadow: 1px 1px rgba(0,0,0,0.3);
    margin: 10px 0;
    clear:both;
}

/**********
contact
******/

.appEditor .nicEdit-panel 
{
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 55px;
}

/*****
Tabs Override
****/

.tabs-framed.styled .tabs li a {
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    color: #6F6F6F;
    font-weight: 500;
}

.tabs li a {
    display: block;
    height: 39px;
    line-height: 39px;
    font-size: 15px;
    color: #949494;
    padding: 0px 9px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.label_title {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    cursor: default;
    font-weight: 500;
    direction: rtl;
}

/***
 forms right to left
***/

.field_text.lightPlaceholder
{
    direction: rtl;
}

#intro-main-content
{
    direction: rtl;
}

textarea
{
    direction: rtl;
}

.nicEdit-main
{
    direction: rtl;
}

.btn-primary
{
    padding: 10px;
    margin-top: 10px;
}

.intro-upload img
{
    width: 100%;
}

.intro-signup-wraper .nicEdit-panel.gradient
{
    top: -25px;
}

/**********
    Post Slider
*******/

.sliderWrapper
{
    float: left;
    width: 100%;
    min-height: 400px;
    position: relative;
    padding: 20px 0 ;
    box-sizing: border-box;
}

.sliderWrapper .carousel-caption
{
    height: 100%;
    float: left;
    width: 100%;
}

.sliderWrapper .item
{
    float: left;
    min-height: 500px;
    width: 100%;
}

.sliderWrapper .item .title
{
    color: black;
    margin: 27px 0 20px;
}

.sliderWrapper .right.carousel-control
{
    z-index: 1000;
    background: none;
}

.sliderWrapper .left.carousel-control
{
    z-index: 1000;
    background: none;
}

.sliderWrapper .carousel-control
{
    width: 0;
    color: black;
}

.sliderWrapper .carousel-caption
{
    right: 0;
    left: 0;
    padding: 0 54px;
}

.sliderWrapper .label_title
{
    float: right;
    color: black;
    text-shadow: none;
}

.sliderWrapper .field_text.lightPlaceholder
{
    float: right;
}

.galleryFormWrapper
{
    float: left;
    position: relative;
    height: auto;
    width: 100%;
    z-index: 0;
}

/***********
Crop
*********/

.cropWindow
{
    width: 100%;
    position: fixed;
    left: 0;
    height: 800px;
    top: 0;
    background-color: rgba(182, 182, 182, 0.8);
    z-index: 100000;
    padding-left: 165px;
}

.imageHolder
{
    position: relative;
    left: 10%;
    width: 80%;
    height: 497px;
    padding-left: 33px;
}

#coords
{
    float: left;
    height: 200px;
    width: 100%;
}

.tabs.clearfix.tab-id1.bookmarks9.active-bookmark5
{
    z-index: 0;
}

.cropIt
{
    position: fixed;
    right: 10px;
    top: 40px;
}

.cancelIt
{
    padding: 10px;
    position: fixed;
    right: 65px;
    top: 50px;
}

.cropButton
{
    float:right;
}

.coordWrapp
{
    bottom: 6px !important;
    margin-right: 10px !important;
    position: relative !important;
    z-index: 1000 !important;
}